body{
  background-color: white;
  h1{
    color: #ffa12d;
  }
  h2{
    color: #ff536a;
  }
}

#wrap{
  padding: 25px;
  border-right: 1px solid #e6e6e6;
  border-right: 2px solid #e6e6e6;
  header{
    padding: 16px;
    margin-bottom: 25px;
    background-color: #c4e3f3;
  }
  .main{

  }
}

